{% extends "main.html" %}
{% block content %}
<div class="mdl-layout__drawer">
    <h4>Categories</h4>
    {%if 'username' in session %}
    <a href="{{url_for('newCategory')}}"><h6>Add new category</h6></a>
    {% endif %}
    {% if categories %}
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        {% for category in categories %}
        <a class="mdl-navigation__link" href="{{url_for('showCategory', name=category.name)}}">{{category.name}}</a>
        {% if category.user_id == session['user_id'] %}
        <span class="category-manage">
            <a href="{{url_for('editCategory', name=category.name)}}">Edit</a> | 
            <a href="{{url_for('deleteCategory', id=category.id)}}" class="delete-btn" data-name="{{category.name}}">Delete</a>
        </span>
        {% endif %}
        {% endfor %}
    </nav>
    {% endif %}
</div>

<main class="mdl-layout__content">
<div class="site-content">
    <div class="mdl-grid site-max-width">
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Edit Category
            </h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="mdl-card__supporting-text messages">
            <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <div class="mdl-grid site-copy">
          <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <form action="{{url_for('editCategory', name=category.name)}}" method="POST" class="form-contact" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="Name" name="name" value="{{category.name}}">
                    <label class="mdl-textfield__label" for="Name">Name...</label>
                </div>
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows="5" id="note" name="description">{{category.description}}</textarea>
                    <label class="mdl-textfield__label" for="note">Enter description</label>
                </div>

                <div class="file-upload mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    <span>BROWSE</span>
                        <input type="file" name="file" id="FileAttachment" class="upload" />
                </div>
                <input type="text" id="fileuploadurl" readonly placeholder="Update category image.">

                <p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-create" type="submit">
                        Save
                    </button>
                </p>
                </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}